@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

body{
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Open Sans', sans-serif;
  transition: color 0.5s, background-color 0.5s;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

.menu{
  width: 98%;
  padding-top: 2vw;
  margin-right: 2%;
  height: 4vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add{
  background-color: var(--color-background-soft);
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .3s;
  cursor: pointer;
}

.add:hover{
  background-color: var(--color-background-mute);
  transition: .3s;
}

.add span{
  font-size: 30px;
  margin-left: 10px;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: #1818188c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  background-color: var(--color-background);
  width: 50%;
  height: 50%;
}

