<!-- <ul>
  <li *ngFor="let document of documents async">{{document.number}} {{document.data}}

    <button (click)="generatePdf(document)">drukuj</button>
  </li>
</ul> -->
<table>
  <tr>
    <th> numer </th> <th> data </th> <th>dane osoby</th> <th> produkty</th> <th> wartosc </th>
  </tr>
  <tr *ngFor="let document of documents async">
    <td>
    {{document.number}}
    </td>
    <td>
    {{document.data}}
    </td>
    <td>
      <ul>
      <li>{{document.client.name}} </li>
      <li>{{document.client.nip}}</li>
      <li>{{document.client.adressCity}}, {{document.client.adressCityCode}}</li>
      <li>{{document.client.adressStreet}}, {{document.client.adressNumber}}</li>
    </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let item of document.products">
          {{item.netPrice}}, vat: {{item.vat}}%, ilosc: {{item.quantity}}
        </li>
      </ul>
    </td>
    <td>
      netto: {{document.netPrice}}, btutto: {{document.grossPrice}}
    </td>
  </tr>

</table>
